
  @font-face {
    font-family: "OpenSansRegular";
    src: local("OpenSansRegular"),
      url("../assets/Open_Sans/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
  }
  @font-face {
    font-family: "OpenSansBold";
    src: local("OpenSansBold"),
      url("../assets/Open_Sans/OpenSans-Bold.ttf") format("truetype");
    font-weight: bold;
  }
  
  .Home-header {
    background-color:#FFFFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
  }

  .Title-header {
    position: absolute;
    width: 100%;
    height: 51px;
    left: 0px;
    top: 0px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 3px 28px rgba(0, 0, 0, 0.08)
  }

  .Title-style {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .Title-text1 {
    color: #FBC91B;
    font-family:OpenSansBold;
    font-style: normal;
    font-weight: bold;
    font-size:xx-large;
  }

  .Title-text2 {
    color: #000000;
    font-family:OpenSansBold;
    font-style: normal;
    font-weight: bold;
    font-size:xx-large;
  }

  .Top-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;

    position: absolute;
    width: 61px;
    height: 24px;
    top: 67px;

    border-radius: 180px;
  }

  .Top-buttons-text {
    position: absolute;
    left: 19.67%;
    right: 19.67%;
    top: 25%;

    font-family: OpenSansBold;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */


    color: rgba(0, 0, 0, 0.82);


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
  }

  